@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,100,100italic,300italic,400italic,700,700italic|Roboto+Slab:400,100,300,700');

/* Table of content of CSS Page
    1. Config (particle background)
    2. General Set-up
    3. Header
    4. Navbar
    5. Self
    6. Experiences
    7. Skills
    8. Projects
    9. Custom background
    10. Responsive and Animation
*/


/*--------------------- Config ----------------------*/
$red: #e74c3c;



/*-------------------- General set-up -------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important; 
    list-style: none;
    /* justify-content: center; */
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div, a, .logo {
    text-decoration: none;
}

div div span {
    font-size: 50px;
}

.section-padding {
    padding: 100px 0px;
    z-index: 9 !important;
}

body {
    color: #333;
    line-height: 1.3;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden !important; /* if the content in the nav box is too large consider adding a scroll bar */
    height: 100%;
    width: 100%;
}


/*-------------------- Header Format -------------------*/

hr {
    position: relative;
}

.header {
    min-height: 100vh;
    background: linear-gradient(-45deg, #ee7752, black, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header .caption {
    margin-top: 50px;
}

.header .caption h2 {
    font-weight: 300;
}

.header .caption h1 {
    margin: 10px 0;
    font-size: 70px;
}

.flip-card-container {
    position: relative;
    width: 120px;
    height: 40px;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 250ms ease-in-out;
    transform: rotateZ(-60px);
}

.flip-card-container:hover .flip-card {
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 900;
    backface-visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.flip-card-front {
    background-color: #e4ff1a;
    color: #70cdff;
    transform: translateZ(15px);
}

.flip-card-back {
    background-color: #e4ff1a;
    color: #70cdff;
    transform: rotateX(180deg) translateZ(15px);
}

#white1, #white2, #white3, #white4, #white5, #white6 {
    background-color: #70cdff;
    color: #e4ff1a;
}

span a:link {
    color: black;
    text-decoration: none;
}

span a:visited {
    color: black;
    text-decoration: none;
}

span a:active {
    color: black;
    text-decoration: none;
}



/*------------------- NavBar --------------------*/

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 9; 
}

.navbar .icon-bar {
    color: #fff;
}

.navbar .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: #FFFBFB !important;
    letter-spacing: .5px;
    margin: 15px 5px;
    /* animation when the screen size is changing */
    -webkit-transition: all .75s;
    transition: all .75s;
}

.navbar .navbar-nav .active {
    color: palegoldenrod !important;
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.5s ease-in-out;
}
  
.scrolled-up{
    transform:translateY(0); transition: all 0.5s ease-in-out;
}

.nav-item a:hover {
    // color: palegoldenrod !important;
    text-decoration: underline 2px #ff9914 !important;
    padding-top: 2px;
    transition: 0.125s ease-in 0 ease-out!important;
}

.nav-item a:visited {
    color: #C49B66;
}

.logo {
    padding: 18px 0;
    width: 90px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.logo:hover {
    color: burlywood;
}


/*-------------------- About Me Section ---------------------- */

img {
    max-width: 100%;
    height: auto;
}

.self .self-img {
    padding: 0 20px 0 0;
    position: relative;
    transition: all .4s;
    -webkit-transition: all .4s;
    z-index: 1;
}

.self .self-img:hover {
    padding: 0 0 0 20px;
}

.self .self-img:hover:after {
    background: #A79687;
    left: 5px;
    top: -15px;
    right: 15px;
    bottom: 15px;
}

.self .self-img:after {
    content: '';
    background: #201B17;
    position: absolute;
    left: 15px;
    right: 5px;
    top: 15px;
    bottom: -15px;
    z-index: -1;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.self h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.self .content {
    color: whitesmoke;
    padding: 25px 35px;
    border-radius: 7px;
    box-shadow: 0px 2px 5px 2px;
}

.self .content p {
    margin-bottom: 15px;
}

.self .content p span {
    font-size: 20px;
    font-weight: 700;
}

.self .content .social-icon span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #eee;
    margin: 15px 5px 15px 0;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
    /* justify-content: space-around; */
}

.self .content .social-icon span:hover {
    background: #C49B66;
    border-color: #C49B66;
    color: #fff;
}

.self .content {
    margin-top: 30px;
}

.self .content .title {
    margin-left: 16rem;
}

.self button {
    // display: inline-block;
    background: #24262A;
    color: #133846;
    text-decoration: none !important;
    border: 2px solid transparent;
    border-collapse: separate;
    font-weight: bold;
    padding: 6px 3px !important;
    font-size: medium;
    border-radius: 20px 20px !important;
    transition: .4s;
    z-index: 2 !important;
    position: absolute;
}

.self button:hover {
    // background: transparent;
    border: 3px solid #AEDFF2;
    cursor: pointer;
    z-index: 2;
}

.self button a {
    text-decoration: none;
    color: #C49B66;
    z-index: 2;
}


/*------------------------- Experiences --------------------------*/

main::before, main::after {
    position: inherit;
}

.experience-page {
    /* max-width: 500px; */
    margin: 0 auto;
    /* padding: 0 2em; */
    color: #ebebeb;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    padding: 35px 0 60px 0;
}

.experience-page span {
    font-size: 18px;
}

/* if IE<=7 */  
.experience-page\ {
    width: 1100px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
  
.experience-secondaryHeading {
    position: relative;
    margin: 2em 0 0;
    text-transform: uppercase;
}

/* Grid
*************************************************** */  
// .experience-grid {
//     display: table;
// }
  
.experience-grid-column {
    display: table-cell;
}
  
.experience-timeline {
    position: relative;
    margin: 0 0 0 0.5em;
    padding-left: 1.5em;
    border-left: solid 1px #f7ece1;
}
  
.experience-timeline:first-of-type {
    margin-top: 1em;
}
  
.experience-timeline:last-of-type {
    border-left-color: transparent;
}
  
.experience-timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.5em;
    display: block;
    width: 1em;
    height: 1em;
    border: solid 1px #222222;
    background-color: #ffffff;
    border-radius: 50%;
}
  
.experience-timeline-heading {
    margin: 0;
    padding-bottom: 0.5em;
    line-height: 1em;
    font-weight: normal;
    -webkit-transform: translateY(-0.1em);
    -ms-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
}
  
.experience-timeline-heading-title {
    line-height: 1;
    color: #DBE4F4;
    font-style: italic;
    text-transform: uppercase;
}
  
.experience-timeline-heading-location {
    font-size: 0.9em;
}
  
.experience-timeline-heading-duration {
    display: block;
    font-size: 0.8em;
    color: #f2c57c;
}
  
.experience-timeline-details {
    display: block;
    margin: 0;
    padding-bottom: 2em;
    padding: 0 0 2em 1em;
    // list-style-image: url(../img/arrow-forward-outline.svg) !important; /* why this one not working T_T */
}

.experience-timeline-details li {
    list-style-image: url(../img/return-down-forward-outline.svg) !important; /* why this one not working T_T */
}

.experience-timeline-details li::marker {
    font-size: 1.5rem;
}
  
.experience-timeline-details-item {
    margin-bottom: 0.5em;
} 


/*----------------------- Projects Section----------------------  */

.projects {
    background-color: #2d2a32;
    padding-top: 5.5em;
    padding-bottom: 130px;
    // margin-bottom: 8rem;
    height: 100%;
}
  
.project-pic {
    width: 80%;
    height: 65%;
}
  
.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .title {
    margin-left: 33%;
    margin-bottom: 2.5rem;
}
  
.project-container {
    text-align: center;
    max-width: 22.875rem;
    min-width: 20.5rem;
    height: 90%;
    max-height: 60rem;
    padding: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.5rem;
}

.project-container p {
    padding: 0.4rem;
}
  
.project-title {
    color: #a92ead;
    font-weight: bold;
    margin-bottom: 2;
}
  
.project-details {
    margin-bottom: 0.5;
}
  
.project-card {
    background-color: #16262e;
    border-radius: 11px;
    box-shadow: 0 3px 10px black;
    padding: 20px;
    margin: 10px;
}

.projects-container .project-container .hover-items {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
}

.projects-container .project-container .hover-items h3 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1.5rem;
}
  
.projects-container .project-container .hover-items .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.projects-container .project-container .hover-items .icons .icon-project {
    background-color: #cbc5ea;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
  
.projects-container .project-container .hover-items .icons .icon-project i {
    font-size: 1.5rem;
    color: white;
    margin: 0 1rem;
}

.projects-container .project-container .hover-items a {
    text-decoration: none;
}
  
.projects-container .project-container .hover-items .icons .icon-project:hover {
    background-color: yellowgreen;
}
  
.projects-container .project-container .hover-items .icons .icon-project:hover i {
    color: #355290;
}
  
.project-container:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.project-container:hover .image {
    opacity: 0.3;
}
  
.project-container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


/*----------------------- Skills section -----------------------*/

.skills {
    // max-width: 68.75rem;
    margin: auto;
    text-align: center;
    // margin-top: 8rem;
    // margin-bottom: 3rem;
    justify-content: center;
    z-index: 3 !important;
    background-color: #16262e;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.skills-wrapper {
    // border-left: none !important;
    // border-right: none !important;
    // // border: 5px solid;
    // padding: 35px 5px 35px 5px;
    // background: linear-gradient(to left, #ccc calc(50% + 10px), transparent 50%) 100% bottom,
    //             linear-gradient(to right, #ccc calc(50% + 10px), transparent 50%) 100% top;
    // background-repeat: no-repeat;
    // background-size: 100% 3px;
    // --b: 5px;   /* thickness of the border */
    // --c:white;   /* color of the border */
    // --w: 20px;  /* width of border */
    
    
    // padding: var(--b); /* space for the border */   
    // position:relative;
    --b: 5px;   /* thickness of the border */
    --c:white;   /* color of the border */
    --w: 20px;  /* width of border */
    
    
    border: var(--b) solid transparent; /* space for the border */
    --g:#0000 90deg,var(--c) 0;
    background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
    background-size: var(--w) var(--w);
    background-origin: border-box;
    background-repeat: no-repeat;
    padding-bottom: 35px;
}

// .skills-wrapper::before {
    //     content:"";
    //     position:absolute;
    //     top:0;
    //     left:0;
    //     right:0;
    //     bottom:0;
    //     background:var(--c, white);
    //     --g:#0000 90deg,#000 0;
    //     -webkit-mask:
    //       conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
    //       conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
    //       conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
    //       conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
    //     -webkit-mask-size:var(--w) var(--w);
    //     background-origin:border-box;
    //     -webkit-mask-repeat:no-repeat;
    //     mask:
    //       conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
    //       conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
    //       conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
    //       conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
    //     mask-size:var(--w) var(--w);
    //     mask-repeat:no-repeat;
    // }
    
.skill-header {
    padding: 30px 0 15px !important;
    font-weight: bold;
    position: relative;
    margin-bottom: 1rem !important;
    margin-right: 42rem;
}

.skill-header::after {
    content: "";
    display: block;
    width: 160px;
    padding-top: 3px;
    border-bottom: 3.5px solid #f9dd94;
    position: absolute;
    left: 31.5%;
}

.skills-wrapper img {
    padding: 1.5rem;
}

.icon-skills {
    width: 9.75rem;
    height: 9.75rem;
}

.icon-card {
    background-color: #201B17;
    border-radius: 11px;
    box-shadow: 0 3px 10px #a17a69;
    padding: 30px;
    margin: 15px;
}

#tech {
    margin-right: 0;
    margin-left: 40.25rem;
}

/* ------------------- Contact ------------------ */

.contact {
    // margin-top: 7em;
    background-color: #515C67;
    padding-top: 4em;
    // margin-bottom: 3em;
    padding-bottom: 2.5em;
}
  
.contact h2 {
    margin-left: 30rem;
    margin-bottom: 2em;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}


.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    // float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #7B7263;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
    0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
    0 1px 1px 0 rgba(0,0,0,0.09);
    border: 3px solid #AEDFF2;
}

input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}


/*------------------- Footer ------------------*/

.footer {
    padding: 90px 10px 0px 0px; 
    text-align: center;
    justify-content: center;
    justify-self: center;
    left: 0;
    width: 100%;
}

.footer p {
    font-size: 18px;
    font-weight: 500;
}

/*---------------- Theme/Color palette of the website ----------------*/

.custom-theme {
    background-color: #08070A;
    color: whitesmoke;
}

.custom-theme .title:before {
    background: #343434;
}

.custom-theme footer {
    background: #08070A;
}

.title {
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
    // text-align: center;
    // justify-self: center;
}

.title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #C49B66;
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
}

.title:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(1, 1, 1, 0.05);
    position: absolute;
    bottom: 0;
    left: 0;
}

.title-left {
    text-align: left;
    margin-bottom: 20px;
}

.title-left:after {
    left: 0;
}


/*-------------- Animation ---------------*/

#shuffle {
    display: inline-block;
}



/*--------------------- Responsive ------------------------*/
@media all and (max-width:1180px) {
    .contact h2 {
        margin-left: 19rem !important;
    }
    .styled-input {
        width: 100%;
    }
} 

@media all and (max-width: 990px) {
    .icon-skills {
        width: 5.75rem !important;
        height: 5.75rem !important;
    }
    
    .skill-header {
        margin-right: 0;
    }
    
    .self .content .title {
        margin-left: 0;
    }
    
    #tech {
        margin-left: 0;
    }

    .projects .title {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .projects-container {
        flex-direction: column;
      }
    
    .project-container {
        width: 20.875rem;
    }
    
    .contact h2 {
        margin-left: 10rem !important;
    }

    .styled-input {
        width:100%;
    }

    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

@media all and (max-width: 768px) {
    .experience-page {
        padding: 2em 1em;
    }

    .icon-skills {
        width: 4.85rem !important;
        height: 4.85rem !important;
    }

    .skill-header {
        margin-right: 0;
    }

    .self .content .title {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    #tech {
        margin-left: 0;
    }

    .projects-container {
        flex-direction: column;
      }
    
    .project-container {
        width: 20.875rem;
    }

    .projects .title {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .projects-container {
        flex-direction: column;
      }
    
    .project-container {
        width: 20.875rem;
    }

    .styled-input {
        width:100%;
    }

    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }

    .contact h2 {
        margin-left: 4.575rem !important;
    }
}

@media all and (max-width: 425px) {
    .icon-skills {
        width: 3.725rem !important;
        height: 3.725rem !important;
    }

    .skill-header {
        margin-right: 0;
    }

    .self .content .title {
        margin-left: 0;
    }

    #tech {
        margin-left: 0;
    }

    .projects .title {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .project-container {
        width: 17.875rem;
    }

    .contact h2 {
        margin-left: 0rem;
    }
}