@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,100,100italic,300italic,400italic,700,700italic|Roboto+Slab:400,100,300,700');


/* Table of content of CSS Page
    1. Config (particle background)
    2. General Set-up
    3. Header
    4. Navbar
    5. Self
    6. Experiences
    7. Skills
    8. Projects
    9. Custom background
    10. Responsive and Animation
*/


/* Config */
$color-bg: #2C3759;
$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 0 through $max {
    $val: #{$val}, random($spacing) + px random($spacing) + px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

/* General set-up */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important; 
    list-style: none;
    /* justify-content: center; */
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div, a, .logo {
    text-decoration: none;
}

div div span {
    font-size: 50px;
}

.section-padding {
    padding: 100px 0px;
    z-index: 9 !important;
}

body {
    color: #333;
    line-height: 1.3;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden !important; /* if the content in the nav box is too large consider adding a scroll bar */
    height: 100%;
}


/* Header Format */
hr {
    position: relative;
}

.header {
    min-height: 100vh;
    // z-index: 5;
}

.header .caption {
    margin-top: 50px;
}

.header .caption h2 {
    font-weight: 300;
}

.header .caption h1 {
    margin: 10px 0;
    font-size: 70px;
}

.flip-card-container {
    position: relative;
    width: 120px;
    height: 40px;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 250ms ease-in-out;
    transform: rotateZ(-60px);
}

.flip-card-container:hover .flip-card {
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 900;
    backface-visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.flip-card-front {
    background-color: #e4ff1a;
    color: #70cdff;
    transform: translateZ(15px);
}

.flip-card-back {
    background-color: #e4ff1a;
    color: #70cdff;
    transform: rotateX(180deg) translateZ(15px);
}

#white1, #white2, #white3, #white4, #white5, #white6 {
    background-color: #70cdff;
    color: #e4ff1a;
}

span a:link {
    color: black;
    text-decoration: none;
}

span a:visited {
    color: black;
    text-decoration: none;
}

span a:active {
    color: black;
    text-decoration: none;
}



/* NavBar */
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 9; 
}

.navbar .icon-bar {
    color: #fff;
}

.navbar .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: #FFFBFB !important;
    letter-spacing: .5px;
    margin: 15px 5px;
    /* animation when the screen size is changing */
    -webkit-transition: all .75s;
    transition: all .75s;
}

.navbar .navbar-nav .active {
    color: palegoldenrod !important;
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.5s ease-in-out;
}
  
.scrolled-up{
    transform:translateY(0); transition: all 0.5s ease-in-out;
}

.nav-item a:hover {
    // color: palegoldenrod !important;
    text-decoration: underline 2px #ff9914 !important;
    padding-top: 2px;
    transition: 0.125s ease-in 0 ease-out!important;
}

// .nav-item a:link {
//     color: #897B7B !important;
// }

// .nav-item .active { 
//     color: palegreen;
// }

.nav-item a:visited {
    color: #C49B66;
}

.logo {
    padding: 18px 0;
    width: 90px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.logo:hover {
    color: burlywood;
}


/* About Me Section */
img {
    max-width: 100%;
    height: auto;
}

.self .self-img {
    padding: 0 20px 0 0;
    position: relative;
    transition: all .4s;
    -webkit-transition: all .4s;
    z-index: 1;
}

.self .self-img:hover {
    padding: 0 0 0 20px;
}

.self .self-img:hover:after {
    background: #A79687;
    left: 5px;
    top: -15px;
    right: 15px;
    bottom: 15px;
}

.self .self-img:after {
    content: '';
    background: #201B17;
    position: absolute;
    left: 15px;
    right: 5px;
    top: 15px;
    bottom: -15px;
    z-index: -1;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.self h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.self .content {
    color: whitesmoke;
    padding: 25px 35px;
    border-radius: 7px;
    box-shadow: 0px 2px 5px 2px;
}

.self .content p {
    margin-bottom: 15px;
}

.self .content p span {
    font-size: 20px;
    font-weight: 700;
}

.self .content .social-icon span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #eee;
    margin: 15px 5px 15px 0;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
    /* justify-content: space-around; */
}

.self .content .social-icon span:hover {
    background: #C49B66;
    border-color: #C49B66;
    color: #fff;
}

.self .content {
    margin-top: 30px;
}

// .self .button-grp {
//     display: inline-block;
// }

.self button {
    // display: inline-block;
    background: #24262A;
    color: #133846;
    text-decoration: none !important;
    border: 2px solid transparent;
    border-collapse: separate;
    font-weight: bold;
    padding: 6px 3px !important;
    font-size: medium;
    border-radius: 20px 20px !important;
    transition: .4s;
    z-index: 2 !important;
    position: absolute;
}

.self button:hover {
    // background: transparent;
    border: 3px solid #AEDFF2;
    cursor: pointer;
    z-index: 2;
}

.self button a {
    text-decoration: none;
    color: #C49B66;
    z-index: 2;
}


/* Experiences */

main::before, main::after {
    position: inherit;
}

.experience-page {
    /* max-width: 500px; */
    margin: 0 auto;
    /* padding: 0 2em; */
    color: #ebebeb;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    padding: 35px;
}

.experience-page span {
    font-size: 18px;
}

/* if IE<=7 */  
.experience-page\ {
    width: 1100px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
  
.experience-secondaryHeading {
    position: relative;
    margin: 2em 0 0;
    text-transform: uppercase;
}

/* Grid
*************************************************** */  
/* .experience-grid {
    display: table;
}
  
.experience-grid-column {
    display: table-cell;
} */
  
.experience-timeline {
    position: relative;
    margin: 0 0 0 0.5em;
    padding-left: 1.5em;
    border-left: solid 1px #f7ece1;
}
  
.experience-timeline:first-of-type {
    margin-top: 1em;
}
  
.experience-timeline:last-of-type {
    border-left-color: transparent;
}
  
.experience-timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.5em;
    display: block;
    width: 1em;
    height: 1em;
    border: solid 1px #222222;
    background-color: #ffffff;
    border-radius: 50%;
}
  
.experience-timeline-heading {
    margin: 0;
    padding-bottom: 0.5em;
    line-height: 1em;
    font-weight: normal;
    -webkit-transform: translateY(-0.1em);
    -ms-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
}
  
.experience-timeline-heading-title {
    line-height: 1;
    color: #DBE4F4;
    font-style: italic;
    text-transform: uppercase;
}
  
.experience-timeline-heading-location {
    font-size: 0.9em;
}
  
.experience-timeline-heading-duration {
    display: block;
    font-size: 0.8em;
    color: #f2c57c;
}
  
.experience-timeline-details {
    display: block;
    margin: 0;
    padding-bottom: 2em;
    padding: 0 0 2em 1em;
    list-style-image: url(../img/angle-right.svg); /* why this one not working T_T */
}
  
.experience-timeline-details-item {
    margin-bottom: 0.5em;
} 



/* footer - format */
.footer {
    padding: 90px 10px 0px 10px; 
    text-align: center;
    left: 0;
    width: 100%;
}

.footer p {
    font-size: 18px;
    font-weight: 500;
}

// skills section
.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 3rem;
    justify-content: center;
    z-index: 3 !important;
}

.skills-wrapper {
    // border-left: none !important;
    // border-right: none !important;
    // // border: 5px solid;
    // padding: 35px 5px 35px 5px;
    // background: linear-gradient(to left, #ccc calc(50% + 10px), transparent 50%) 100% bottom,
    //             linear-gradient(to right, #ccc calc(50% + 10px), transparent 50%) 100% top;
    // background-repeat: no-repeat;
    // background-size: 100% 3px;
    // --b: 5px;   /* thickness of the border */
    // --c:white;   /* color of the border */
    // --w: 20px;  /* width of border */
    
  
    // padding: var(--b); /* space for the border */   
    // position:relative;
    --b: 5px;   /* thickness of the border */
    --c:white;   /* color of the border */
    --w: 20px;  /* width of border */
    
  
    border: var(--b) solid transparent; /* space for the border */
    --g:#0000 90deg,var(--c) 0;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
    background-size: var(--w) var(--w);
    background-origin: border-box;
    background-repeat: no-repeat;
    padding-bottom: 35px;
}

// .skills-wrapper::before {
//     content:"";
//     position:absolute;
//     top:0;
//     left:0;
//     right:0;
//     bottom:0;
//     background:var(--c, white);
//     --g:#0000 90deg,#000 0;
//     -webkit-mask:
//       conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
//       conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
//       conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
//       conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
//     -webkit-mask-size:var(--w) var(--w);
//     background-origin:border-box;
//     -webkit-mask-repeat:no-repeat;
//     mask:
//       conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
//       conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
//       conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
//       conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
//     mask-size:var(--w) var(--w);
//     mask-repeat:no-repeat;
// }

.skill-header {
    padding: 30px 0 15px !important;
    font-weight: bold;
    position: relative;
    margin-bottom: 1rem !important;
    margin-right: 42rem;
}

.skill-header::after {
    // content: "";
    // position: absolute;
    // left: 31%;
    // bottom: 16px;
    // width: 150px;
    // height: 14px;
    // transform: skew(-12deg) translateX(-50%) !important;
    // background: rgba(238,111,87,0.5);
    // z-index: -1;
    content: "";
    display: block;
    width: 160px;
    padding-top: 3px;
    border-bottom: 3.5px solid #f9dd94;
    position: absolute;
    left: 31.5%;
}

.skills-wrapper img {
    padding: 1.5rem;
}
  
.icon-skills {
    width: 9.75rem;
    height: 9.75rem;
}

.icon-card {
    background-color: #201B17;
    border-radius: 11px;
    box-shadow: 0 3px 10px #a17a69;
    padding: 60px;
    margin: 15px;
}

#tech {
    margin-right: 0;
    margin-left: 40.25rem;
}

// .half-a-border-on-top {
//     border-top: 2px solid black;
//     position: relative;
// }

// .half-a-border-on-top:after {
//     padding: 0;
//     margin-bottom: 2px;
//     content: "";
//     width: 50%;
//     height: 1px; /* slight higher to work around rounding errors(?) on some zoom levels in some browsers. */
//     position: absolute;
//     right: 0;
//     top: -1px;
//     margin-right: 9.735rem;
//     border-top: 4px solid #a17a69;
// }

/* Theme/Color palette of the website */
.custom-theme {
    background-color: #08070A;
    color: whitesmoke;
}

.custom-theme .title:before {
    background: #343434;
}

.custom-theme footer {
    background: #08070A;
}

.title {
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
    // text-align: center;
    // justify-self: center;
}

.title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #C49B66;
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
}

.title:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(1, 1, 1, 0.05);
    position: absolute;
    bottom: 0;
    left: 0;
}
  
.title-left {
    text-align: left;
    margin-bottom: 20px;
    // justify-content: center !important;
}

.title-left:after {
    left: 0;
}
  
.page-bg, .animation-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
  
.page-bg {
    // background: $color-bg;
    // background-blend-mode: screen;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -2;
}
  
.particle, .particle:after {
    background: transparent;
}
  
.particle:after {
    position: absolute;
    content: "";
    top: $spacing;
}
  
.particle-1 {
    animation: animParticle $time-1 linear infinite;
    @include particles(1000);
    height: 2px;
    width: 2px;
}
  
.particle-1:after {
    @include particles(900);
    height: 2px;
    width: 2px;
}
  
.particle-2 {
    animation: animParticle $time-2 linear infinite;
    @include particles(800);
    height: 2px;
    width: 2px;
}
  
.particle-2:after {
    @include particles(500);
    height: 3px;
    width: 3px;
}
  
.particle-3:after {
    @include particles(1100);
    height: 3px;
    width: 3px;
    border-radius: 50%;
}
  
.particle-4 {
    animation: animParticle $time-4 linear infinite;
    @include particles(1200);
    height: 1px;
    width: 1px;
}
  
.particle-4:after {
    @include particles(700);
    height: 1px;
    width: 1px;
}
  
@keyframes animParticle {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY($spacing * -1);
    }
}
  
/* animation */
#shuffle {
    display: inline-block;
}

/* responsive */
@media all and (max-width: 720px) {
    .experience-page {
        padding: 2em 1em;
    }

    .icon-skills {
        width: 4.875rem !important;
        height: 4.875rem !important;
    }

    .skill-header {
        margin-right: 0;
    }

    #tech {
        margin-left: 0;
    }
}