@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

/* General set-up */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important; 
    list-style: none;
    /* justify-content: center; */
}

h1, h2, h3, h4, h5, h6, .logo {
    font-family: 'Josefin Sans', sans-serif;
}

div, a, .logo {
    text-decoration: none;
}

div div span {
    font-size: 50px;
}

.section-padding {
    padding: 100px 0;
}

/* Body set-up */
body {
    color: #333;
    line-height: 1.3;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden !important; /* if the content in the nav box is too large consider adding a scroll bar */
}

/* Header set-up */
/* header {
    margin-top: 12%;
    padding-top: 30px;
} */

hr {
    position: relative;
}

.header {
    min-height: 100vh;
}

.header .caption {
    margin-top: 50px;
}

.header .caption h2 {
    font-weight: 200;
}

.header .caption h1 {
    margin: 10px 0;
    font-size: 70px;
}

/* .header {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    z-index: 8;
} */

.flip-card-container {
    position: relative;
    width: 120px;
    height: 40px;
    border: 0.25px solid pink;
    perspective: 300px;
    /* display: inline; */
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 250ms ease-in-out;
    transform: rotateZ(-60px);
}

.flip-card-container:hover .flip-card {
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    backface-visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.flip-card-front {
    background-color: #AFA4A4;
    color: #D9D1D1;
    transform: translateZ(10px);
}

.flip-card-back {
    background-color: #AFA4A4;
    color: #D9D1D1;
    transform: rotateX(180deg) translateZ(10px);
}

#white1, #white2, #white3, #white4, #white5, #white6 {
    background-color: #D9D1D1;
    color: #111;
}

span a:link {
    color: #6F5726;
    text-decoration: none;
}

span a:visited {
    color: #6F5726;
    text-decoration: none;
}

span a:active {
    color: #6F5726;
    text-decoration: none;
}



/* NavBar */
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 9; /* for stack over other elements */
}

.navbar .icon-bar {
    color: #fff;
}

.navbar .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: #FFFBFB;
    letter-spacing: .5px;
    margin: 15px 5px;
    /* animation when the screen size is changing */
    -webkit-transition: all .5s;
    transition: all .5s;
}

.navbar .navbar-nav .active {
    color: #FFFBFB !important;
}

.nav-scroll {
    background: #FFE7B8;
    border-bottom: 1.5px solid rgba(12, 12, 12, 0.04);
    padding: 0;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    /* a bit of animation when the screen size is changing */
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.nav-scroll .icon-bar {
    color: #222;
}
.nav-scroll .navbar-nav .nav-link {
    color: whitesmoke;
}

.nav-scroll .nav-brand {
    padding: 10px 0;
    color: #111;
}
.nav-scroll .logo:hover {
    color: burlywood;
}

.nav-scroll .navbar-nav .nav-link:hover {
    color: burlywood;
}

nav a:hover {
    color: palegreen;
}

.logo {
    padding: 18px 0;
    width: 90px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.logo:hover {
    color: burlywood;
}

/* About Me Section */
section {
    background-color: #C0BEB9;
}

img {
    max-width: 100%;
    height: auto;
}

.self .self-img {
    padding: 0 20px 0 0;
    position: relative;
    transition: all .4s;
    -webkit-transition: all .4s;
}

.self .self-img:hover {
    padding: 0 0 0 20px;
}

.self .self-img:hover:after {
    background: grey;
    left: 5px;
    top: -15px;
    right: 15px;
    bottom: 15px;
}

.self .self-img:after {
    content: '';
    background: #f5f5f5;
    position: absolute;
    left: 15px;
    right: 5px;
    top: 15px;
    bottom: -15px;
    z-index: -1;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.self .content p {
    margin-bottom: 15px;
}

.self .content p span {
    font-size: 18px;
    font-weight: 700;
}

.self .content .social-icon span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #eee;
    margin: 15px 5px 15px 0;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
    justify-content: space-around;
}

.self .content .social-icon span:hover {
    background: #C49B66;
    border-color: #C49B66;
    color: #fff;
}

.self .content {
    margin-top: 30px;
}

/* Theme/Color palette of the website */
.custom-theme {
    background-color: #AFA4A4;
    color: whitesmoke;
}

.custom-theme .title:before {
    background: #343434;
}

.custom-theme .nav-scroll {
    background: #181818;
}

.custom-theme .nav-scroll .icon-bar {
    color: burlywood;
}

.custom-theme .nav-scroll .navbar-nav .nav-link {
    color: #D9D1D1;
}

.custom-theme .nav-scroll .logo {
    color: #343434;
}

.custom-theme .nav-scroll .logo:hover {
    color: burlywood;
}

.custom-theme footer {
    background: #897B7B;
}

.title {
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
}

.title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #C49B66;
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
}

.title:before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(1, 1, 1, 0.05);
    position: absolute;
    bottom: 0;
    left: 0;
}
  
.title-left {
    text-align: left;
    margin-bottom: 30px;
}

.title-left:after {
    left: 0;
}
  
/* .bg-gray {
    background: #f7f7f7;
}
.bg-gray .title:before {
    background: #ddd;
} */

/* animation */
#shuffle {
    display: inline-block;
}